
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color:black;
  position: fixed;

}
.websitelogo{
  height: 100px;
  display: inline-block;
}
nav li{
  display: inline-block;
  margin: 0 24px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  position: relative;
  text-align: center;

}
nav a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
nav a:hover{
  color: rgb(136, 0, 0);
  transition: 4s;
}

nav h2 {
  color: white;
}
.checkoutitems{
  color: white;
}
.symbol{
  position: absolute;
  height: 25px;
  color: white;
  margin-left: -28px;
}
.Login{
  font-size: 18px;
  border: 1px solid white;
  padding: 8px;
  border-radius: 3px;

}
.Login:hover{
  text-decoration: none;
}
.cart{
  position: relative;
}
.cart-quantity{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top:-35px ;
  margin-left: 55px;
}
.main-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 180px;
    background-color: b;
}
.grid-container{
display: flex;
flex-direction: column;
row-gap: 20px;
    
}.grid-container2{
   display:grid;
   grid-template-columns: repeat(1,1fr);
   gap: 40px;
}
.left-container{
    display: flex;
    width: 450px;
    height:120px;
    justify-content: space-between;
    box-shadow: 0px 0px 12px;
    padding: 20px;
    border-radius: 4px;
}
.food-image img{
    height: 100px;
    width: 100px;
}

.js-save-link:hover{
  cursor: pointer;
}
.foodname{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
}
.complement{
    font-size: 14px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.sub,.add{
    background: black;
    color: white;
    border-radius: 4px;
}

.quantity-input {
    width: 30px;
  }


  .quantity-input {
    width: 30px;
    display: none;
  }
  
  .save-quantity-link {
    display: none;
  }
  
  .is-editing-quantity .quantity-input {
    display: initial;
  }
  
  .is-editing-quantity .save-quantity-link { 
  display: initial
  } 
  .is-editing-quantity .save-quantity-link {
    display: initial;
  }
  
  .is-editing-quantity .quantity-label {
    display: none;
  }
  
  .is-editing-quantity .js-Add-link {
    display: none;
  }


.no-of-item{
    background: black;
    padding-left:10px;
    padding-right: 10px;
    color: white;
}

.login-container{
    display: flex;
    gap: 5px;
    height: 80px;
    width: 400px;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0px 0px 12px;
    border-radius: 4px;
}
.login-container a {
text-decoration: none;
}
.login-container button{
    background-color: black;
    color: white;
    border-radius: 4px;}
.address-container{
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 500px;
}
.address-input{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin-bottom: 40px;
}
.address-input input{
  font-size:17px;
  height: 35px;
  font-family: "poppins",sans-serif;
}
.section input{
  font-family: "poppins";
}
.bill-container{
    box-shadow: 0px 0px 12px;
    padding: 25px;
    border-radius: 5px;
    height: 350px;
}
.js-payment-container div{
   display: flex;
   flex-direction: row;
   width: 250px;
   justify-content: space-between;
   margin-bottom: 5px;
}

.place-order{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.place-order button{
  background-color: black;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
.payment-section{
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;

  
}
.payment-section2{
  display: flex;
  padding: 40px;
  box-shadow: 0px 0px 12px gray;
  justify-content: space-between;
}
.main-container{
  display: flex;
}
.payment{
  display: flex;
  gap: 80px;
}
.card{
  border: 2px solid black;
  font-size: 20px;
  padding: 8px;
  border-radius: 4px;
  width: 150px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cardimage{
  height: 60px;
}

.upi{
  width: 100px;
  border: 2px solid black;
  font-size: 23px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px
  

}
.card:hover{
  cursor: pointer;
}
.upi:hover{
  cursor: pointer;
}
.payment-details-container1{
  width: 500px;
  height: 350px;
  padding: 30px;
}
.input2{
  display: flex;
  gap: 20px;
  
}

.input2 input{
  font-size: 17px;
  height: 35px;
  border-radius: 8px solid grey;
  padding: 5px;
  margin-bottom: 30px;

}
.upi-payment{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.upi-section1 label{
   font-size: 18px;
}
.upi-section1 input{
  font-size: 17px;
  font-family: "poppins";
  width: 250px;
  padding: 10px;
  border-radius: 6px solid grey;
}
.paydiv{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.paydiv button{
  padding: 8px;
  width: 200px;
  background-color: black
  ;
  color: white;
  font-family: "poppins";
  border-radius: 6px;
}
/*Footer*/

.footer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 130px;
}

.contentinfooter{
  display: flex;
  width: 100%;
  flex-direction:row;
  justify-content:space-evenly;
  position: relative;
  color:white; 
}
.footerlogo{
  height: 80px;
  margin-top: 20px;
  margin-left: -40px;
}

ul{
  list-style: none;
}
.websitename{
  margin-top: 120px;
  margin-left: -185px;
  font-size: 22px;
}
a{
  text-decoration: none;
  color:white;
}
li{
  padding-bottom: 8px;
  letter-spacing: 1px;
}
.footersymbol{
  height: 25px;
  position: absolute;
  margin-left: -28px;
  background-color: white;
  border-radius: 20px;
}


.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}